.is-bg-center-cover{
    background-position: center;
    background-size: cover;
}

.full{
    width: 100%
}

.notfound{
    height: 85vh;
}

.is-darkblue{
    border-color: #303350;
    color:#303350;
    text-transform: capitalize !important;
}
.is-darkblue:hover{
    background: #303350;
    color: #fff;
}
.is-darkblue:focus{
    background: #303350;
    color: #fff;
}
.is-darkblue-active{
    background: #303350;
    color: #fff;
}
.is-darkblue-active:focus{
    background: #303350;
    color: #fff;
}

p{
    font-size: 1.15em;
    margin-bottom:10px;
    
}

h2{
    font-weight: 500;
    margin-bottom:15px;
    text-transform: capitalize !important;
}

h3{
    font-weight: 700;
    margin-bottom:12px;
     text-transform: capitalize !important;
}
