.footerLink{
    padding: 0px 20px;
    margin-top: 20px;
    color: #fff;
    line-height: 37px;
}
.footerLink:hover{
    padding: 0px 20px;
    color: rgb(209, 202, 202);
}
.footer{
    background:#253340;
}

.powerd-by{
    color: #7f7fa854;
    background-color: rgb(41, 42, 44);
    width: 100%;
    padding-left: 10px;
}